.game-inner {
  border: 1px solid greenyellow;
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .loading-block {
    width: 100px;
    height: 50px;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .global {
    background-color: lightskyblue;
  }

  .starting {
    background-color: lightcoral;
  }

  .answering {
    background-color: lightseagreen;
  }

  .questions-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    .question-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px;
      margin: 0 auto;
      border: 1px solid blue;
      border-radius: 5px;

      &.done {
        background-color: green;
      }

      &.in-progress {
        background-color: red;

        &.disabled {
          background-color: lightseagreen;
        }
      }

      .content-block {
        width: 100%;
        height: 100%;
        border: 1px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h3 {
          width: 100%;
          text-align: start;
        }

        .question-content {
          width: 100%;
          margin: 10px 0;
        }
      }

      .control-block {
        width: 100px;
        border: 1px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        .errors {
        }
        .try-answer {
        }
        .status {
        }

        // .faults-container {
        //   width: 100%;
        //   margin: 10px 0;
        // }
      }
    }
  }
}
