@forward './abstract//Reset.modules.scss';
// @use './abstract//Reset.modules.scss';
@use './abstract/Variables.module.scss';

.Container {
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: Variables.$color-blue;

  h1 {
    color: Variables.$color-red;
  }

  h2 {
    color: Variables.$color-green;
  }

  p {
    color: Variables.$color-black;
  }
}
